<VirtualHost *:80>
    ServerName {{ apache.hostname }}
    DocumentRoot {{ paths.root[:-1] }}

    ErrorLog "{{ paths.log }}apache2/error.log"
    CustomLog "{{ paths.log }}apache2/access.log" combined

    LogLevel warn rewrite:trace6

    <Directory {{ paths.root[:-1] }}>
        Options Indexes FollowSymLinks MultiViews
        AllowOverride All
        Require all granted
    </Directory>

</VirtualHost>
